<nz-header class="sp_top">
    <ul nz-menu [nzMode]="'horizontal'" class="no_bg max_width">
        <li nz-menu-item class="sp_logo"><a routerLink="">
            <i class="anticon anticon-dingding sp_fly_l"></i>
            烈虎&nbsp;<span
                style=" transform: rotateY(180deg); display: inline-block;"><i
                class="anticon anticon-dingding sp_fly_r"></i></span>
        </a></li>
        <li nz-menu-item><a routerLink="/article-list"><i class="anticon anticon-user"></i> 文章列表</a></li>
        <li nz-menu-item><a routerLink="/resume"><i class="anticon anticon-user"></i> 个人简历</a></li>
        <li nz-menu-item><a href="https://github.com/guong" target="_blank" rel="noopener noreferrer"><i
                class="anticon anticon-github"></i>GitHub</a></li>
    </ul>
</nz-header>